.nav-bar {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    padding: 2.25em 0;
}

.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1680px;
    margin: 0 auto;
}

.name {
    font-size: 1.125rem;
    padding: 0 2em;
}

.tmp ul {
    display: flex;
    flex-direction: row;
}

.tmp ul li a {
    font-size: 0.75rem;
    padding: 0 2em;
}

@media screen and (max-width: 1023px) {
    .name {
        font-size: 1rem;
    }

    .tmp ul li a {
        font-size: 0.625rem;
    }
}

@media screen and (max-width: 767px) {
    .name {
        display: none;
    }

    .tmp {
        margin: 0 auto;
    }
}