.item {
    margin: 2em 0;
}
.item:hover {
    color: #0085A1;
}

.title {
    font-size: 2.25rem;
    font-family: 'Lora', serif;
    font-weight: 800;
    margin-bottom: 0.5em;
}

.paragraph {
    margin-top: 0.75em;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.25rem;
}

.division {
    margin: 4.5em auto;
    width: 65%;
    border-bottom: 1px solid #C4C4C4;
}

.item img {
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .item {
        margin: 1.875em 0;
    }
    
    .title {
        font-size: 2rem;
    }
    
    .paragraph {
        margin-top: 0.625em;
        font-size: 1.125rem;
    }
    
    .division {
        margin: 3.75em auto;
    }
}

@media screen and (max-width: 767px) {
    .item {
        margin: 1.75em 0;
    }
    
    .title {
        font-size: 1.75rem;
    }
    
    .paragraph {
        margin-top: 0.5em;
        font-size: 1rem;
    }
    
    .division {
        margin: 3.5em auto;
    }
}